.col-sm-12{
    padding: 0;
}
#profile{
    position: relative;

}
#profile .box{
    position: relative;
    width: 100%;
    min-height:400px;
    /* background:url(../../images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.cover-overlay {
    position: absolute;
    top: 300px;
    right: 4rem;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

@media (max-width: 576px) {
    .cover-overlay {
        position: absolute;
        top: 320px;
        right: 2rem;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
  }

#profile .box:hover .cover-overlay {
    opacity: 1;
}

.btn-update-cover {
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ccc;
    border: 1px solid #fff;
    transition: all 0.20s;
}

.btn-update-cover i {
    font-size: 1.2rem;
    vertical-align: text-bottom;
}

.btn-update-cover:hover {
    color: #fff;
    top: -52px;
}

.profile-info-left {
    position: relative;
    top: -92px;
}

.profile-info-left .profile-img {
    position: relative;
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-info-left .profile-img .profile-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 146px;
    height: 146px;
    left: 0;
    top: 2px;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.profile-info-left .profile-img:hover .profile-img-overlay {
    opacity: 1;
}

.profile-info-left .profile-img img.avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.profile-info-left .profile-img:hover .profile-img-caption {
    opacity: 1;
}

.profile-img-caption {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 60%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.profile-img-caption a {
    color: #fff;
}

.profile-img-caption i {
    font-size: 1.2rem;
    vertical-align: text-bottom;
}

.upload input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.upload {
    width: 100px;
    color: #fff;
    cursor: pointer;
}

.profile-info-left .profile-fullname {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}

.intro {
    padding: 0 1rem;
}

.intro-item {
    margin: 1rem 0;
}

.intro-about {
    font-size: 1.2rem;
    font-weight: 500;
}

.intro-title {
    font-size: 0.8rem;
    margin: 0;
}

.post {
    width: 100%
}

.post-user-name {
    font-size: 1.2em;
    font-weight: 700
}
